# project files
source/varletcfg.json
source/build/
source/bin/
source/obj/
.notes.txt
[Tt]temp/
[Oo]utput/
_output/
_temp/

# windows files
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.db
*.lnk
