# project files
_temp/
[Tt]temp/
[Oo]utput/
source/varletcfg.json
source/build/
source/bin/
source/obj/
.notes.txt

# windows files
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.db
*.lnk
